$primary-color-gryffindor: #7F0909;
$secondary-color-gryffindor: #FFC500;

$primary-color-slytherin: #0D6217;
$secondary-color-slytherin: #AAAAAA;

$primary-color-hufflepuff: #EEE117;
$secondary-color-hufflepuff: #000000;

$primary-color-ravenclaw: #000A90;
$secondary-color-ravenclaw: #946B2D;

.text-primary-gryffindor { color: $primary-color-gryffindor; }
.bg-primary-gryffindor { background: $primary-color-gryffindor; }
.text-secondary-gryffindor { color: $secondary-color-gryffindor; }
.bg-secondary-gryffindor { background: $secondary-color-gryffindor; }

.text-primary-slytherin { color: $primary-color-slytherin; }
.bg-primary-slytherin { background: $primary-color-slytherin; }
.text-secondary-slytherin { color: $secondary-color-slytherin; }
.bg-secondary-slytherin { background: $secondary-color-slytherin; }

.text-primary-hufflepuff { color: $primary-color-hufflepuff; }
.bg-primary-hufflepuff { background: $primary-color-hufflepuff; }
.text-secondary-hufflepuff { color: $secondary-color-hufflepuff; }
.bg-secondary-hufflepuff { background: $secondary-color-hufflepuff; }

.text-primary-ravenclaw { color: $primary-color-ravenclaw; }
.bg-primary-ravenclaw { background: $primary-color-ravenclaw; }
.text-secondary-ravenclaw { color: $secondary-color-ravenclaw; }
.bg-secondary-ravenclaw { background: $secondary-color-ravenclaw; }

.text-secondary { color: $secondary; }
.bg-secondary { background: $secondary; }

